.product-card {
    display: block;
    width: 300px;

    background: #fff;
    border-radius: 22px;
    overflow: hidden;
    position: relative;

    text-decoration: none;
    color: #000;

    transition: .25s ease;
    padding-bottom: 20px;

    margin: 0 auto;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    color: #0d7c2b
}


.product-card__img {
    width: 100%;
    overflow: hidden;
}

.product-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------- ТЕКСТ -------- */
.product-card__title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 18px;
    margin-top: 12px;
}

.product-card__subtitle {
    padding: 0 18px;
    margin-top: 4px;
    color: #777;
    font-size: 14px;
}


.product-card__line {
    margin-top: 14px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-card__price {
    font-size: 24px;
    font-weight: 700;
}

/* -------- ОВАЛ С ИКОНКАМИ -------- */
.product-card__floating {
    display: flex;
    gap: 12px;
    border: 2px solid #e7e7e7;
    position: absolute;
    top: 12px;
    right: 12px;
    flex-direction: column;
    padding: 8px 14px;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}


.product-card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: #fff;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.product-card__icon:hover {
    background: #f3f3f3;
}


.product-card__icon svg {
    width: 18px;
    height: 18px;
    color: #333;
    fill: #333;
}


.product-card__details {
    width: 85%;
    margin: 16px auto 0;
    padding: 12px 0;

    border-radius: 22px;
    background: #fff;
    border: 1px solid #dcdcdc;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    display: block;
    text-align: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}