.preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;

    background: linear-gradient(120deg,
            #3f5f3f,
            #6f8f6a,
            #dfe8d8,
            #6f8f6a,
            #3f5f3f);
    background-size: 400% 400%;

    animation: gradientWave 10s ease-in-out infinite;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.6s ease, visibility 0.6s ease;
}

@keyframes gradientWave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.preloader--hide {
    opacity: 0;
    visibility: hidden;
}

.preloader__content {
    animation: contentFadeIn 1s ease forwards;
}

.preloader__logo {
    width: 200px;
    max-width: 70vw;
    opacity: 0;
    animation: logoAppear 1.2s ease forwards;
}

@keyframes logoAppear {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes contentFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}