.header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.68);
    overflow: visible;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: transform 0.35s ease, opacity 0.25s ease;
}

/* СКРЫТЬ ХЕДЕР ВНИЗ */
.header.scroll-down {
    transform: translateY(-120%);
    opacity: 0;
}

/* ПОКАЗАТЬ ХЕДЕР */
.header.scroll-up {
    transform: translateY(0);
    opacity: 1;
}

/* ВВЕРХУ — как обычно */
.header.top {
    transform: translateY(0);
    opacity: 1;
}

/* SEARCH */
.header__search {
    position: relative;
}

.header__search input {
    width: 180px;
    padding: 8px 38px 8px 14px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    outline: none;
    font-size: 22px;
    transition: 0.2s ease;
}

.header__search input:focus {
    border-color: #5aa35a;
}

.header__search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #444;
}

/* LOGO */
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    height: 68px;
    margin-left: -100px;
    transform: scale(1.5);
    transform-origin: center;
}

/* ICONS */
.header__icons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.header__icon {
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s ease;
    color: #000;
}

.header__icon:hover {
    transform: scale(1.15);
    color: #5aa35a;
}


.header__cart-wrapper {
    position: relative;
    cursor: pointer;
}

.header__cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #31a24c;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-wrapper.shake {
    animation: shakeCart .4s ease;
}

@keyframes shakeCart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(.9);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Desktop burger */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    pointer-events: none;
    transition: .28s ease;
    z-index: 998;
}

.menu-overlay.show {
    opacity: 1;
    pointer-events: all;
}

/* ===== SIDEBAR ===== */
.menu-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 55%;
    max-width: 430px;
    height: 100vh;
    background: #fff;
    padding: 40px 30px;
    box-shadow: -4px 0 20px rgba(0, 0, 0, .15);
    transition: right .33s cubic-bezier(.22, .9, .3, 1);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.menu-sidebar.open {
    right: 0;
}

/* Кнопка закрытия */
.menu-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 42px;
    height: 42px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-close span {
    position: absolute;
    width: 67px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transition: background .2s ease;
}

.menu-close span:first-child {
    transform: rotate(45deg);
}

.menu-close span:last-child {
    transform: rotate(-45deg);
}

.menu-close:hover span {
    background: #0E7A0D;
}

/* Блок ссылок */
.menu-links {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.menu-item {
    position: relative;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    color: #000;
    transition: color .25s ease, transform .25s ease;
}

/* Линия над пунктами */
.menu-item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 14px;
    height: 6px;
    background: #dbe6dd;
    border-radius: 6px;
    top: -28px;
    opacity: 1;
    transition: background .25s ease;
}

.menu-item-text {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Montserrat Alternates';
    letter-spacing: -0.02em;
    line-height: 0.95;
    transition: color .28s ease, transform .28s ease;
}

.menu-item small {
    position: absolute;
    right: 0;
    top: -6px;
    font-size: 14px;
    color: #2c5d32;
    font-weight: 800;
    transition: color .28s ease;
}


.menu-item:hover .menu-item-text {
    color: #0E7A0D;
    transform: translateX(8px);
}

.menu-item:hover small {
    color: #0E7A0D;
}

.menu-item:hover::before {
    background: #b7d3b9;
}

/* Email — теперь активная ссылка */
.menu-email {
    margin-top: 42px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 10px solid #dbe6dd;
    padding-top: 18px;
    padding-bottom: 10px;
    color: #111;
    text-decoration: none;
    transition: color .25s ease, border-color .25s ease;
}

.menu-email:hover {
    color: #0E7A0D;
    border-color: #b7d3b9;
}

/* Большой текст “МЕНЮ” */
.menu-auth-btn {
    padding: 18px 14px;
    background: #fff;
    margin-top: 25px;
    color: #2f5e2f;
    border-radius: 30px;
    border: 3px solid #2f5e2f;
    font-weight: 700;
    font-size: 32px;
    line-height: 118%;
    letter-spacing: 0.07em;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.menu-auth-btn:hover {
    background: #0E7A0D;
    color: #fff;
}

/* Desktop burger */

/* Header user */
.user-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* ===== MODAL ===== */
.user-modal {
    margin-top: 120px;
    background: #fff;
    padding: 28px 32px;
    width: 100%;
    max-width: 360px;

    border-radius: 22px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, .25);

    animation: slideDown .35s ease;
}

/* ANIMATION */
@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.user-modal__close {
    position: absolute;
    top: 127px;
    right: 550px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}

.user-modal__close:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* TITLE */
.user-modal__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}

.user-modal__title span {
    font-weight: 700;
}

/* PROFILE LINK */
.user-modal__link {
    display: block;
    padding: 14px 0;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.user-modal__link:hover {
    color: #0d7c2b;
}

/* LOGOUT */
.user-modal__logout {
    width: 100%;
    margin-top: 22px;
    padding: 14px;
    border-radius: 14px;

    border: none;
    background: #ffe5e5;
    color: #c62828;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.user-modal__logout:hover {
    background: #ffcccc;
}

/* Header user */


@media (max-width: 768px) {
    .header {
        padding: 10px 18px;
    }

    .header__search input {
        width: 140px;
        font-size: 13px;
    }

    .header__logo img {
        height: 54px;
        transform: scale(1.2);
    }

    .header__icons {
        gap: 16px;
    }

    .header__icon {
        font-size: 20px;
    }

    .user-modal {
        width: 380px;
    }

    /* Burger */

    .menu-sidebar {
        width: 70%;
        right: -100%;
        padding: 35px 24px;
    }

    .menu-item-text {
        font-size: 48px;
    }

    .menu-item small {
        font-size: 12px;
    }

    .menu-title {
        font-size: 48px;
        letter-spacing: 10px;
    }
}


/* --- 576px (обычные телефоны) --- */
@media (max-width: 576px) {
    .header__search input {
        width: 79px;
        padding: 7px 32px 7px 12px;
    }

    .header__logo img {
        height: 48px;
        margin-left: -17px;
        transform: scale(1.5);
    }

    .header__icons {
        gap: 14px;
    }

    .header__icon {
        font-size: 19px;
    }

    .user-modal-overlay {
        padding-top: 60px;
    }

    .user-modal {
        width: 100%;
        border-radius: 20px;
    }

    /* Burger */

    .menu-sidebar {
        width: 80%;
        right: -100%;
        padding: 32px 22px;
    }

    .menu-item-text {
        font-size: 38px;
    }

    .menu-item::before {
        height: 5px;
        top: -20px;
    }

    .menu-item small {
        font-size: 11px;
        right: 4px;
    }

    .menu-title {
        font-size: 40px;
        letter-spacing: 8px;
    }

    .menu-email {
        font-size: 18px;
        border-bottom-width: 6px;
    }
}


/* --- 420px (маленькие телефоны) --- */
@media (max-width: 420px) {
    .header {
        padding: 8px 14px;
    }

    .header__search input {
        width: 68px;
        font-size: 12px;
    }

    .header__logo img {
        height: 46px;
        transform: scale(1.87);
        margin-left: -25px;
    }

    .header__icons {
        gap: 12px;
    }

    .header__icon {
        font-size: 18px;
    }

    .user-modal {
        padding: 26px 20px 24px;
    }

    .user-modal__title {
        font-size: 18px;
    }

    /* Burger */

    .menu-sidebar {
        width: 58%;
        right: -100%;
        padding: 28px 18px;
    }

    .menu-item-text {
        font-size: 30px;
    }

    .menu-item small {
        font-size: 10px;
        top: -4px;
    }

    .menu-title {
        font-size: 32px;
        letter-spacing: 6px;
    }

    .menu-email {
        font-size: 16px;
    }

    .menu-close {
        width: 34px;
        height: 34px;
    }

    .menu-close span {
        width: 44px;
    }
}


/* --- 360px (очень маленькие телефоны) --- */
@media (max-width: 360px) {
    .header__search input {
        width: 85px;
    }

    .header__logo img {
        height: 40px;
    }

    .header__icons {
        gap: 10px;
    }

    .user-modal__title {
        font-size: 17px;
    }

    .user-modal__link,
    .user-modal__logout {
        padding: 12px;
        font-size: 14px;
    }

    /* Burger */

    .menu-sidebar {
        width: 92%;
        right: -100%;
        padding: 24px 16px;
    }

    .menu-item-text {
        font-size: 26px;
    }

    .menu-item small {
        font-size: 9px;
    }

    .menu-title {
        font-size: 28px;
        letter-spacing: 5px;
    }

    .menu-email {
        font-size: 14px;
    }
}