body {
  /* margin: 0; */
  font-family: "Montserrat Alternates", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  overflow-x: unset !important;
  background: rgba(178, 178, 178, 0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:link,
a:visited a:active {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}


a svg {
  fill: currentColor !important;
  stroke: currentColor !important;
}


/* a button {
  color: inherit;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper>* {
  animation: pageFade 1s ease-in-out;
}

@keyframes pageFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}